* {
    color: white;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

html{
    background-image: url(./img/static/background.jpg);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border: 3px solid #232943;
    box-shadow: inset 0 0 2.5px 5px rgb(25, 31, 57);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #ffffff, #f9f9f9, #ffffff);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container{
    color: white;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0px 0px 15px black;
    text-align: center;
    animation: items-anim 1s linear 0s 1 both;
    -webkit-animation: items-anim 1s linear 0s 1 both;
    overflow: hidden;
}

.navbar{
    top: 0%;
    position: sticky;
    padding: 10px 0px;
    display: flex;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(35, 41, 67, 0.6), rgba(35, 41, 67, 0.6));
    border-bottom: 2px solid white;
    width: 100%;
}

.navbar-items{
    float: left;
    display: block;
}

.header{
    margin-top: 15%;
    font-size: 7.5rem;
}

.slogan{
    font-size: 3rem;
}

.scrolldown{
    margin: 5% auto 110px auto;
    animation: scrolldown 2s linear 2s infinite both;
    -webkit-animation: scrolldown 2s linear 2s infinite both;
}

.main--body{
    background-color: #232943;
    border-top: 2px solid rgba(255, 255, 255,0.9);
}

.body--heading{
    font-size: 5rem;
    margin: 100px auto 75px auto;
}

.body--text{
    font-size: 3.25rem;
    margin-bottom: 150px;
}

.body--showcase{
    margin: 150px 0px;
}

.showcase--heading{
    font-size: 3.5rem;
    margin-bottom: 50px;
}

.showcase--row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.showcase--cols{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.showcase--icon{
    margin-bottom: 10px;
    color: rgb(25, 31, 57);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.showcase--text{
    margin-top: 10px;
    font-size: 3rem;
}

.heading{
    margin: 150px 0px;
    font-size: 3.5rem;
}

.progbar{
    margin: 50px 0px;
}

.prog--text{
    font-size: 2rem;
}

progress{
    width: 50%;
    height: 30px;
    appearance: none;
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    height: 20px;
    background-color: #232943;
    border-radius: 100px;
    box-shadow: 0px 0px 3px black inset;
}

progress::-webkit-progress-value{
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 0px 0px 10px #232943 inset;
}


@keyframes items-anim{
    0%{
        opacity: 0;
        filter: blur(20px);
        -webkit-filter: blur(20px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

@keyframes scrolldown{
    0%, 50%, 100%{
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    25%{
        transform: translate(0, 0.5rem);
        -webkit-transform: translate(0, 0.5rem);
        -moz-transform: translate(0, 0.5rem);
        -ms-transform: translate(0, 0.5rem);
        -o-transform: translate(0, 0.5rem);
}
    75%{
        transform: translate(0, -0.5rem);
        -webkit-transform: translate(0, -0.5rem);
        -moz-transform: translate(0, -0.5rem);
        -ms-transform: translate(0, -0.5rem);
        -o-transform: translate(0, -0.5rem);
}
}