* {
    color: white;
    width: 100%;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

html{
    background-image: url(./img/static/background.jpg);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    border: 3px solid #232943;
    box-shadow: inset 0 0 2.5px 5px rgba(0,0,0,0.75);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #393C4D, #e4e4e4, #393C4D);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container{
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.navbar{
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 10px 0;
    border-bottom: 2px solid white;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.125));

    animation: items-anim 1.5s linear 0s 1 both;
    -webkit-animation: items-anim 1.5s linear 0s 1 both;
}

.header{
    font-family: 'Dancing Script', cursive;
    padding: 7.5% 0;
    font-size: 4.35rem;
    text-shadow: 0px 0px 15px black;

    animation: items-anim 1.5s linear 0s 1 both;
    -webkit-animation: items-anim 1.5s linear 0s 1 both;
}

@keyframes items-anim{
    0%{
        opacity: 0;
        filter: blur(20px);
        -webkit-filter: blur(20px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}