* {
    color: white;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-image: url(./img/static/background.jpg);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 0.5rem;
}

::-webkit-scrollbar-track{
    border: 0.15rem solid #232943;
    box-shadow: inset 0 0 2.5px 5px rgb(25, 31, 57);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #ffffff, #f9f9f9, #ffffff);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.container{
    color: white;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0rem 0rem 0.75rem black;
    text-align: center;
    animation: items-anim 1s linear 0s 1 both;
    -webkit-animation: items-anim 1s linear 0s 1 both;
    overflow: hidden;
}

.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(0deg, rgba(35, 41, 67, 0.6), rgba(35, 41, 67, 0.6));
    border-bottom: 1px solid white;
}

.navbar-items{
    flex: 1 1 auto;
    padding: 0.25rem 0rem;
}

.header{
    margin-top: 12.5rem;
    font-size: 7.5rem;
}

.slogan{
    font-size: 3rem;
}

.scrolldown{
    margin: 5rem 0px 5.5rem 0rem;
    animation: scrolldown 2s linear 0s infinite both;
    -webkit-animation: scrolldown 2s linear 0s infinite both;
}

.main--body{
    background-color: #232943;
    border-top: 0.1rem solid rgba(255, 255, 255,0.9);
}

.body--heading{
    font-size: 5rem;
    margin: 5rem auto;
}

.body--text{
    font-size: 3.25rem;
    margin-bottom: 7.5rem;
}

.body--showcase{
    margin: 7.5rem auto;
}

.showcase--heading{
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
}

.showcase--row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.showcase--cols{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.showcase--icon{
    margin-bottom: 0.5rem;
    color: rgb(25, 31, 57);
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: white;
}

.showcase--text{
    margin-top: 0.5rem;
    font-size: 3rem;
}

.heading{
    margin: 7.5rem auto;
    font-size: 3.5rem;
}

.progbar{
    margin: 2.5rem auto;
}

.prog--text{
    font-size: 2rem;
}

progress{
    width: 50%;
    appearance: none;
    -webkit-appearance: none;
}
progress::-webkit-progress-bar {
    height: 1rem;
    background-color: #232943;
    border-radius: 100px;
    box-shadow: 0rem 0rem 0.125rem rgb(0, 0, 0) inset;
}

progress::-webkit-progress-value{
    background-color: #ffffff;
    border-radius: 5rem;
    box-shadow: 0rem 0rem 0.3rem #232943 inset;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

@media (max-width: 600px){
    .header{
        font-size: 5.5rem;
    }
    .scrolldown{
        margin: 4rem auto 3rem auto;
    }
    .showcase--row{
        display: initial;
    }
    .showcase--cols{
        padding: 3rem;
    }
}

@media (max-width: 400px){
    *{
        font-size: 17.5px;
    }
}

@keyframes items-anim{
    0%{
        opacity: 0;
        filter: blur(1rem);
        -webkit-filter: blur(1rem);
}
    100%{
        opacity: 1;
        filter: blur(0rem);
        -webkit-filter: blur(0rem);
}
}

@keyframes scrolldown{
    0%, 50%, 100%{
        transform: translate(0rem, 0rem);
        -webkit-transform: translate(0rem, 0rem);
        -moz-transform: translate(0rem, 0rem);
        -ms-transform: translate(0rem, 0rem);
        -o-transform: translate(0rem, 0rem);
}
    25%{
        transform: translate(0, 0.5rem);
        -webkit-transform: translate(0, 0.5rem);
        -moz-transform: translate(0, 0.5rem);
        -ms-transform: translate(0, 0.5rem);
        -o-transform: translate(0, 0.5rem);
}
    75%{
        transform: translate(0, -0.5rem);
        -webkit-transform: translate(0, -0.5rem);
        -moz-transform: translate(0, -0.5rem);
        -ms-transform: translate(0, -0.5rem);
        -o-transform: translate(0, -0.5rem);
}
}