* {
    color: white;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

html{
    background-image: url(./img/static/background.jpg);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    border: 3px solid #232943;
    box-shadow: inset 0 0 2.5px 5px rgb(25, 31, 57);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #ffffff, #f9f9f9, #ffffff);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container{
    color: white;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0px 0px 15px black;
    text-align: center;
    animation: items-anim 1.5s linear 0s 1 both;
    -webkit-animation: items-anim 1.5s linear 0s 1 both;
}

.navbar{
    position: sticky;
    top: 0%;
    display: flex;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    border-bottom: 2px solid white;
    width: 100%;
}

.navbar-items a{
    float: left;
    display: block;
}

.header{
    margin-top: 15%;
    font-size: 7.5rem;
}

.slogan{
    font-size: 3rem;
}

.scrolldown{
    margin-top: 5%;
    animation: scrolldown 2s linear 2s infinite both;
    -webkit-animation: scrolldown 2s linear 2s infinite both;
}

.main--body{
    background-color: #232943;
    border-top: 2px solid rgba(255, 255, 255,0.9);
}

.main--body--heading{
    font-size: 3rem;
    margin: 25px auto 75px auto;
}

.main--body--text{
    font-size: 2rem;
}

@keyframes items-anim{
    0%{
        opacity: 0;
        filter: blur(20px);
        -webkit-filter: blur(20px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

@keyframes scrolldown{
    0%, 50%, 100%{
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    25%{
        transform: translate(0, 10%);
        -webkit-transform: translate(0, 10%);
        -moz-transform: translate(0, 10%);
        -ms-transform: translate(0, 10%);
        -o-transform: translate(0, 10%);
    }
    75%{
        transform: translate(0, -10%);
        -webkit-transform: translate(0, -10%);
        -moz-transform: translate(0, -10%);
        -ms-transform: translate(0, -10%);
        -o-transform: translate(0, -10%);
    }
}